[Unit]
Description=Diplomacy WebUI
After=docker.diplomacy_server
Requires=docker.diplomacy_server

[Service]
User=shade
Group=G-824842
TimeoutStartSec=0
Restart=always
ExecStop=/usr/bin/docker stop -t 5 %n
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull tacc/diplomacy_webui
ExecStart=/usr/bin/docker run --rm --name %n \
    -v /home/shade/data:/data \
    -v /home/shade/logs:/logs \
    -p 3000:3000 \
    tacc/diplomacy_webui

[Install]
WantedBy=default.target
