[Unit]
Description=Diplomacy Server
After=docker.service
Requires=docker.service

[Service]
User=shade
Group=G-824842
TimeoutStartSec=0
Restart=always
ExecStop=/usr/bin/docker stop -t 5 %n
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull tacc/diplomacy_server
ExecStart=/usr/bin/docker run --rm --name %n \
    -v /home/shade/data:/data \
    -v /home/shade/logs:/logs \
    -p 8432:8432 \
    -p 8434-8700:8434-8700 \
    -e DIPLOMACY_ADMIN_PASSWORD=tacobot \
    -e SERVER_PORT=8432 \
    -e DAIDE_PORT_RANGE=8434:8700 \
    tacc/diplomacy_server

[Install]
WantedBy=default.target
